<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.cart">
    <select id="selectCart" parameterType="CartDTO" resultType="CartDTO">
        SELECT user_nm, product_id, option_cd, cnt,
               TO_CHAR(update_dt, 'YYYYMMDD HH24:MI:SS') AS update_dt
          FROM cart
         WHERE user_nm = #{userNm}
        <if test='productId != null and productId != 0'>
           AND product_id = #{productId}
        </if>
        <if test='optionCd != null and !"".equals(optionCd)'>
           AND option_cd LIKE #{optionCd}
        </if>
    </select>

    <insert id="insertCart" parameterType="CartDTO">
        INSERT INTO cart
               (user_nm, product_id, option_cd, cnt, update_dt)
        VALUES (#{userNm}, #{productId}, #{optionCd}, #{cnt}, now())
    </insert>

    <delete id="deleteCart" parameterType="CartDTO">
        DELETE
          FROM cart
        <if test='userNm != null and !"".equals(userNm)'>
         WHERE user_nm = #{userNm}
        </if>
        <if test='userNm == null or "".equals(userNm)'>
         WHERE true = true
        </if>
        <if test='productId != null and productId != 0'>
           AND product_id = #{productId}
        </if>
        <if test='optionCd != null and !"".equals(optionCd)'>
           AND option_cd LIKE #{optionCd}
        </if>
    </delete>

    <update id="updateCartCnt" parameterType="CartDTO">
        UPDATE cart
           SET cnt = #{cnt}
         WHERE user_nm = #{userNm}
           AND product_id = #{productId}
        <if test='optionCd != null and !"".equals(optionCd)'>
           AND option_cd = #{optionCd}
        </if>
        <if test='optionCd == null or "".equals(optionCd)'>
            AND option_cd IS NULL
         </if>
    </update>
</mapper>