cdr-data/*
!cdr-data/.gitkeep
bean-cafe/target/*
bean-cafe/.*
pga-data/*
!pga-data/.gitkeep
!pga-data/storage
.idea/
*.iml
bean-cafe/deployments/*
!bean-cafe/deployments/.gitkeep
bean-cafe/logs/*
!bean-cafe/logs/.gitkeep