.DS_Store
.idea
.vscode

bean-cafe/.*
bean-cafe/target/*
bean-cafe/bean-cafe.iml

cdr/data/*
!cdr/data/.gitkeep

pga/data/*
!pga/data/.gitkeep
!pga/data/storage

wildfly/deployments/*
wildfly/logs/*
!wildfly/deployments/.gitkeep
!wildfly/logs/.gitkeep
