.DS_Store
.idea
.vscode

my-app/.*
my-app/target/*

cdr/data/*
!cdr/data/.gitkeep

pga/data/*
!pga/data/.gitkeep
!pga/data/storage

wildfly/deployments/*
wildfly/logs/*
!wildfly/deployments/.gitkeep
!wildfly/logs/.gitkeep
