<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.rokong.orderProduct">
    <select id="select" parameterType="OrderProductDTO" resultType="OrderProductDTO">
        SELECT order_id, product_id, option_cd, seller_nm, cnt,
               price, discount_price, product_nm, option_nm,
               status_cd, delivery_id
          FROM ord_prod
         WHERE order_id = #{orderId}
        <if test='productId != null and productId != 0'>
            AND product_id = #{productId}
            <if test='optionCd != null and !"".equals(optionCd)'>
                AND option_cd LIKE #{optionCd}
            </if>
        </if>
        <if test='deliveryId != null and deliveryId != 0'>
            AND delivery_id = #{deliveryId}
        </if>
    </select>

    <select id="count" parameterType="OrderProductDTO" resultType="int">
        SELECT count(*)
          FROM ord_prod
         WHERE order_id = #{orderId}
        <if test='productId != null and productId != 0'>
            AND product_id = #{productId}
            <if test='optionCd != null and !"".equals(optionCd)'>
                AND option_cd LIKE #{optionCd}
            </if>
        </if>
        <if test='deliveryId != null and deliveryId != 0'>
            AND delivery_id = #{deliveryId}
        </if>
    </select>

    <select id="countByDelivery" parameterType="OrderProductDTO" resultType="int">
        SELECT count(*)
          FROM ord_prod
         WHERE order_id = #{orderId}
           AND delivery_id = #{deliveryId}
           AND status_cd <![CDATA[ > ]]> 0
    </select>

    <insert id="insert" parameterType="OrderProductDTO">
        INSERT INTO ord_prod
               (order_id, product_id, option_cd, seller_nm, cnt,
                price, discount_price, product_nm, option_nm, status_cd,
                delivery_id)
        VALUES (#{orderId}, #{productId}, #{optionCd}, #{sellerNm}, #{cnt},
                #{price}, #{discountPrice}, #{productNm}, #{optionNm}, #{statusCd},
                #{deliveryId})
    </insert>

    <delete id="delete" parameterType="OrderProductDTO">
        DELETE
          FROM ord_prod
         WHERE order_id = #{orderId}
        <if test='productId != null and productId != 0'>
            AND product_id = #{productId}
            <if test='optionCd != null and !"".equals(optionCd)'>
                AND option_cd LIKE #{optionCd}
            </if>
        </if>
    </delete>

    <update id="updateCnt" parameterType="OrderProductDTO">
        UPDATE ord_prod
           SET cnt = #{cnt}
         WHERE order_id = #{orderId}
           AND product_id = #{productId}
           AND option_cd = #{optionCd}
    </update>

    <update id="updateToInvalid" parameterType="OrderProductDTO">
        UPDATE ord_prod
           SET option_cd = '-' || option_cd
         WHERE product_id = #{productId}
        <if test='optionCd != null and !"".equals(optionCd)'>
            AND option_cd like #{optionCd}
        </if>
    </update>

    <update id="updateStatus" parameterType="OrderProductDTO">
        UPDATE ord_prod
           SET status_cd = #{statusCd}
        WHERE order_id = #{orderId}
         <if test='productId != null and productId != 0'>
            AND product_id = #{productId}
            <if test='optionCd != null and !"".equals(optionCd)'>
                AND option_cd LIKE #{optionCd}
            </if>
         </if>
    </update>
</mapper>