<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.rokong.orderDelivery">
    <select id="select" parameterType="OrderDeliveryDTO" resultType="OrderDeliveryDTO">
        SELECT order_id, delivery_id, seller_nm, type_nm, delivery_nm, price
          FROM ord_dlvr
         WHERE order_id = #{orderId}
           AND delivery_id = #{deliveryId}
    </select>

    <insert id="insert" parameterType="OrderDeliveryDTO">
        INSERT INTO ord_dlvr
               (order_id, delivery_id, seller_nm, type_nm, delivery_nm, price)
        VALUES (#{orderId}, #{deliveryId}, #{sellerNm}, #{typeNm}, #{deliveryNm}, #{price})
    </insert>

    <delete id="delete" parameterType="OrderDeliveryDTO">
        DELETE
          FROM ord_dlvr
         WHERE order_id = #{orderId}
           AND delivery_id = #{deliveryId}
    </delete>

    <select id="selectByOrder" parameterType="int" resultType="OrderDeliveryDTO">
        SELECT order_id, delivery_id, seller_nm, type_nm, delivery_nm, price
          FROM ord_dlvr
         WHERE order_id = #{orderId}
    </select>
</mapper>