<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.rokong.payType">
    <select id="selectPayType" parameterType="int">
        SELECT id, type, option1, option2, enabled
          FROM pay_type
         WHERE true = true
        <if test='id != null and id != 0'>
            AND id = #{id}
        </if>
    </select>
</mapper>