<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.rokong.productDetail">
    <select id="selectDetailList" parameterType="ProductDetailDTO" resultType="ProductDetailDTO">
        SELECT product_id, option_cd, full_nm, price_change, stock_cnt, enabled
          FROM product_detail
         WHERE product_id = #{productId}
          <if test='optionCd != null and !"".equals(optionCd)'>
            AND option_cd like #{optionCd} || '%'
          </if>
    </select>
    <select id="selectDetail" parameterType="ProductDetailDTO" resultType="ProductDetailDTO">
        SELECT product_id, option_cd, full_nm, price_change, stock_cnt, enabled
          FROM product_detail
         WHERE product_id = #{productId}
            AND option_cd = #{optionCd}
    </select>
    <insert id="insertDetail" parameterType="ProductDetailDTO">
        INSERT INTO product_detail
               (product_id, option_cd, full_nm, price_change,
                stock_cnt, enabled)
        VALUES (#{productId}, #{optionCd}, #{fullNm}, #{priceChange},
                #{stockCnt}, #{enabled})
    </insert>
    <delete id="deleteDetail" parameterType="ProductDetailDTO">
        DELETE
          FROM product_detail
         WHERE product_id = #{productId}
            AND option_cd = #{optionCd}
    </delete>
    <update id="updateDetail" parameterType="ProductDetailDTO">
        UPDATE product_detail
           SET priceChange = #{priceChange},
               stockCnt = #{stockCnt},
               enabled = #{enabled}
         WHERE product_id = #{productId}
           AND option_cd = #{optionCd}
    </update>
</mapper>