<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.rokong.user">
    <select id="selectCurrentDate" resultType="String">
        SELECT TO_CHAR(now(), 'YYYYMMDD')
    </select>

    <select id="selectList" resultType="UserDTO">
        SELECT user_nm, pwd, enabled
          FROM user_main
    </select>

    <select id="select" resultType="UserDTO" parameterType="String">
        SELECT user_nm, pwd, enabled
          FROM user_main
         WHERE user_nm = #{userNm}
    </select>

    <select id="count" parameterType="String" resultType="int">
        SELECT count(*)
          FROM user_main
         WHERE user_nm = #{userNm}
    </select>

    <insert id="insert" parameterType="UserDTO">
        INSERT INTO user_main
               (user_nm, pwd, enabled)
        VALUES (#{userNm}, #{pwd}, #{enabled})
    </insert>

    <update id="update" parameterType="UserDTO">
        UPDATE user_main
           SET user_nm = #{userNm}
            <if test='pwd != null and !"".equals(pwd)'>
                , pwd = #{pwd}
            </if>
            <if test='enabled != null'>
                , enabled = #{enabled}
            </if>
         WHERE user_nm = #{userNm}
    </update>

    <delete id="delete" parameterType="String">
        DELETE
          FROM user_main
        WHERE user_nm = #{userNm}
    </delete>

    <insert id="insertAuths" parameterType="UserDTO">
        INSERT INTO user_auth
        <foreach collection="authority" item="auth" separator="UNION ALL">
            SELECT #{userNm} AS user_nm, #{auth} as authority
        </foreach>
    </insert>

    <select id="selectAuths" resultType="String" parameterType="String">
        SELECT authority
          FROM user_auth
         WHERE user_nm = #{userNm}
    </select>

    <delete id="deleteAuths" parameterType="UserDTO">
        DELETE
          FROM user_auth
         WHERE user_nm = #{userNm}
           AND authority IN
               <foreach collection="authority" item="auth" open="(" close=")" separator=",">
                   #{auth}
               </foreach>
    </delete>
</mapper>
