<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.rokong.UserMapper">
    <select id="selectCurrentDate" resultType="String">
        SELECT TO_CHAR(now(), 'YYYYMMDD')
    </select>

    <select id="selectUserList" resultType="UserDTO">
        SELECT user_nm, pwd, enabled
          FROM user_main
    </select>

    <select id="selectUser" resultType="UserDTO" parameterType="String">
        SELECT user_nm, pwd, enabled
          FROM user_main
         WHERE user_nm = #{userNm}
    </select>

    <insert id="insertUser" parameterType="UserDTO">
        INSERT INTO user_main
               (user_nm, pwd, enabled)
        VALUES (#{userNm}, #{pwd}, #{enabled})
    </insert>

    <update id="updateUserPassword" parameterType="UserDTO">
        UPDATE user_main
           SET pwd = #{pwd}
         WHERE user_nm = #{userNm}
    </update>

    <update id="updateUserEnabled" parameterType="UserDTO">
        UPDATE user_main
           SET enabled = #{enabled}
         WHERE user_nm = #{userNm}
    </update>

    <insert id="insertUserAuthorities" parameterType="UserDTO">
        INSERT INTO user_auth
        <foreach collection="authority" item="auth" separator="UNION ALL">
            SELECT #{userNm} AS user_nm, #{auth} as authority
        </foreach>
    </insert>

    <select id="selectUserAuthorities" resultType="String" parameterType="String">
        SELECT authority
          FROM user_auth
         WHERE user_nm = #{userNm}
    </select>
</mapper>