<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.rokong.productDetail">
    <select id="selectList" parameterType="ProductDetailDTO" resultType="ProductDetailDTO">
        SELECT product_id, option_cd, full_nm, price_change, stock_cnt, enabled
          FROM prod_det
         WHERE product_id = #{productId}
          <if test='optionCd != null and !"".equals(optionCd)'>
            AND option_cd like #{optionCd}
          </if>
         ORDER BY option_cd
    </select>

    <select id="select" parameterType="ProductDetailDTO" resultType="ProductDetailDTO">
        SELECT product_id, option_cd, full_nm, price_change, stock_cnt, enabled
          FROM prod_det
         WHERE product_id = #{productId}
            AND option_cd = #{optionCd}
    </select>

    <select id="count" parameterType="ProductDetailDTO" resultType="int">
        SELECT count(*)
          FROM prod_det
         WHERE product_id = #{productId}
           AND option_cd = #{optionCd}
    </select>

    <insert id="insert" parameterType="ProductDetailDTO">
        INSERT INTO prod_det
               (product_id, option_cd, full_nm, price_change,
                stock_cnt, enabled)
        VALUES (#{productId}, #{optionCd}, #{fullNm}, #{priceChange},
                #{stockCnt}, #{enabled})
    </insert>
    <delete id="delete" parameterType="ProductDetailDTO">
        DELETE
          FROM prod_det
         WHERE product_id = #{productId}
           AND option_cd = #{optionCd}
    </delete>
    <update id="update" parameterType="ProductDetailDTO">
        UPDATE prod_det
           SET option_cd = #{optionCd}
        <if test='priceChange != null'>
            , price_change = #{priceChange}
        </if>
        <if test='stockCnt != null'>
            , stock_cnt = #{stockCnt}
        </if>
        <if test='enabled != null'>
            , enabled = #{enabled}
        </if>
        WHERE product_id = #{productId}
          AND option_cd = #{optionCd}
    </update>
    <delete id="deleteList" parameterType="ProductDetailDTO">
        DELETE
          FROM prod_det
         WHERE product_id = #{productId}
         <if test='optionCd != null and !"".equals(optionCd)'>
           AND option_cd like #{optionCd}
         </if>
    </delete>
</mapper>