<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.rokong.product">
    <select id="selectProductList" resultType="ProductDTO">
        SELECT id, name, price, category_id, enabled, seller_nm,
               stock_cnt, delivery_id, delivery_price, discount_price
          FROM prod_main
    </select>

    <select id="selectProduct" parameterType="int" resultType="ProductDTO">
        SELECT id, name, price, category_id, enabled, seller_nm,
               stock_cnt, delivery_id, delivery_price, discount_price
          FROM prod_main
         WHERE id = #{id}
    </select>

    <insert id="insertProduct" parameterType="ProductDTO">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT nextval('prod_id_seq'::regclass)
        </selectKey>
        INSERT INTO prod_main
               (id, name, price, category_id, enabled,
                seller_nm, stock_cnt, delivery_id, delivery_price, discount_price)
        VALUES (#{id}, #{name}, #{price}, #{categoryId}, #{enabled},
                #{sellerNm}, #{stockCnt}, #{deliveryId}, #{deliveryPrice}, #{discountPrice})
    </insert>

    <delete id="deleteProduct" parameterType="int">
        DELETE
          FROM prod_main
         WHERE id = #{id}
    </delete>

    <update id="updateProduct" parameterType="ProductDTO">
        UPDATE prod_main
           SET id = #{id}
               <if test='name != null and !"".equals(name)'>
                   , name = #{name}
               </if>
               <if test='price != null'>
                   , price = #{price}
               </if>
               <if test='categoryId != null and categoryId != 0'>
                   , category_id = #{categoryId}
               </if>
               <if test="enabled != null">
                   , enabled = #{enabled}
               </if>
               <if test='sellerNm != null and !"".equals(sellerNm)'>
                   , seller_nm = #{sellerNm}
               </if>
               <if test="stockCnt != null">
                   , stock_cnt = #{stockCnt}
               </if>
               <if test="deliveryId != null and deliveryId != 0">
                   , delivery_id = #{deliveryId}
               </if>
               <if test='deliveryPrice != null and deliveryPrice != 0'>
                   , delivery_price = #{deliveryPrice}
               </if>
               <if test='discountPrice != null'>
                   , discount_price = #{discountPrice}
               </if>
         WHERE id = #{id}
    </update>

    <update id="updateProductColumn" parameterType="hashmap">
        UPDATE prod_main
           SET ${column} = #{value}
         WHERE id = #{id}
    </update>

    <update id="updateProductCategory" parameterType="hashmap">
        UPDATE prod_main
           SET category_id = #{tobeCategory}
         WHERE category_id = #{asisCategory}
    </update>
</mapper>